## gradle
/.gradle
/build
/0.2
/gradle


## Other
/dep
/us.stackdump

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
us.stackdump
